body {
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.avatar {
    width: 150px;
    border: 3px solid snow;
    border-radius: 70px;
    filter: drop-shadow(20px 20px 10px);
}

.card {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    border-bottom: 6px solid #04e762;
    background: #f6f7f8;
    color: #2b2839;
    border-right: 6px solid #2b2839; 
    border-radius: 20px
}

.star {
    width: 50px;
}

h3:hover {
  background-color: #04e762;
}

